.team-section {
  width: 100%;
  height: calc(100vh - 61px);
  background-color: #1466cc;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 61px;
  font-family: Arial, Helvetica, sans-serif;
  top: 5%;
  color: white;
}

.team-title {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  padding: 5% 0 0 0;
}

.team-float {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  background-color: #1466cc;
  padding: 10px;
}

.name-title {
  color: black;
  text-align: center;
  font-size: 20px;
  padding: 0 10px;
}

.team-pic {
  max-width: 250px;
  max-height: 250px;
  border-radius: 10px;
}

.provider-section {
  width: 100%;
  height: calc(100vh - 61px);
  background-color: #1466cc;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  top: 5%;
  color: white;
}

.job-tile {
  background-color: white;
  text-align: center;
  padding: 40px 10px;
  font-size: 10px;
  border-radius: 10px;
  width: 250px;
  position: relative;
}

.arrow-link {
  font-size: 40px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  color: #1466cc;
}

.job-title {
  font-size: 15px;
  color: black;
  padding-bottom: 10px;
  font-style: oblique;
}

.container {
  display: flex;
  gap: 20px;
}
.table-container {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 8px;
  border: 1px solid #555;
  text-align: left;
}
th {
  background-color: #444;
}

.prov-title {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  padding: 5px 0 0 0;
}

.home-pic {
  width: 100%; /* Ensure the image spans the full width of its container */
  height: auto; /* Maintain aspect ratio */
  max-height: 40vh; /* Limit the height to 80% of the viewport height */
  object-fit: cover; /* Crop the image gracefully if necessary */
  padding-top: 61px;
}
