.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  margin-top: auto;
  overflow-x: hidden;
}

.footer-content {
  max-width: 1200px; /* or another desired max width */
  margin: 0 auto; /* centers the footer content block */
  text-align: left; /* ensures text is left-aligned */

  display: grid;
  /* Two columns so .contact-sec and .hours-sec each occupy one column */
  grid-template-columns: 1fr 1fr;
  /* Increase the gap to add more space between the columns */
  gap: 4rem; /* adjust as needed (e.g., 2rem, 6rem, etc.) */

  padding: 5px;
  color: black;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.legal-words {
  padding-left: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
